<form action="/login" method="POST">
  <div class="row">
    <p class="fs-1 mt-5">Account Login</p>
  </div>
  <div class="row m-3">
    <input
      type="email"
      name="email"
      placeholder="Email"
      value="{{email}} "
      class="form-control mx-auto"
      style="width: 20em"
    />
  </div>
  <div class="row m-3">
    <input
      type="password"
      name="password"
      placeholder="Password"
      value="{{password}}"
      class="form-control mx-auto"
      style="width: 20em"
    />
  </div>
  <button class="btn btn-outline-dark">Sign in</button>
</form>